* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    padding: 0 160PX;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    align-items: center;


}

nav ul li {
    list-style: none;
    align-items: center;
    margin-left: 5px;
}

nav ol {
    display: flex;
    align-items: center;
}

nav ol li {
    list-style: none;
    margin-left: 20px;
    color: #3C354F;
    cursor: pointer;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.20rempx;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* icon style */


.logo {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

.g-dising {
    color: #FF42A5;
    font-size: rem;
}

.nav-titel {
    font-size: 2.6rem;

}

.li-dising {
    background-color: azure;
    padding: 6PX 10PX;
    border-radius: 4PX;
    display: flex;
}

/* end nav sections */
.baner-conainer h3 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.baner-conainer h1 {
    text-align: center;
    font-family: Work Sans;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
}

.baner-conainer h4 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn1 {
    margin-top: 40px;
    display: inline-flex;
    padding: 13px 30px;
    align-items: flex-start;
    gap: 10px;
    font-weight: 600;
    font-size: 1.10rem;
    background-color: #F948B2;
    border-radius: 21px;
    color: #fff;
    transition: .6s;

}

.btn1:hover {
    background-color: #4EC5F7;
}

.btn2:hover {
    background-color: #4EC5F7;
}

.btn2 {
    margin-top: 40px;
    display: inline-flex;
    padding: 13px 30px;
    align-items: flex-start;
    gap: 10px;
    font-weight: 600;
    font-size: 1.10rem;
    background-color: #F948B2;
    border-radius: 21px;
    color: #fff;
}

.baner {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

/* .baner-img img{
    width: 100%;
} */
/* gamer section */
.gamer {
    padding: 0 80px;
}

.gamer-section {
    display: flex;
    justify-content: space-between;
}

.gamer-titel {
    text-align: right;
    margin-top: 50px;
}

.clorerfull {
    text-align: right;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-titel p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 28px;

    /* 166.667% */
}

.sort-titel {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
}

/* start online section */
.online-img {
    display: flex;
    gap: 30px;
    justify-content: center;
}



.online-img img {
    width: 100%;
    height: 500px;
}

.online-game-tittel h2 {
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-online span {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    text-align: center;

    /* 150% */
}



.online-game-tittel h1 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;

}

.online-game-tittel p {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.20rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: -10px;
    margin-bottom: 30px;
    /* 166.667% */
}
.text-online img    {
    background:#000;
}

/* end the online section */
/* No downlod sections start */
.no-downlod-cantainer {
    display: flex;
    column-gap: 250px;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.hero-pic {
    margin-top: 65px;
}

.hero-duthor {
    position: relative;
    bottom: 274px;
    left: -152px;
}

.no-dowonlod-tittel {
    width: 362px;
}

.no-dowonlod-tittel h1 {
    text-align: right;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.no-dowonlod-tittel p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* end the heor-pic secstion */
.icon-catainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 90px;
}
.icon-catainer2{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    margin-bottom: 100px;
    
}
.para {
    margin-left: -115px;
  }
  .para2 {
    margin-left: -144px;
   
  }
  .icon-cantainer-main{
    
  }
.icon-catainer span:hover{
    border: 1px solid   #FF42A5;
}




/* footer section start */
.footer-section {
    background: #0B0223;
    padding: 329px;
}

.footer-section .gamer-footer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-section ul {
    list-style: none;
}

.amar {
    color: #fff;
}

.footer-dising ol {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.footer-dising ol li {
    list-style: none;
    color: #fff;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.footer-icon {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.footer-icon li {
    margin-left: 40px;
    cursor: pointer;
}

.sucurety ol {
    display: flex;
    justify-content: space-evenly;
}

.sucurety ol li {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
    list-style-type: none;
    margin-top: 20px;
}

.div-copy-right {
    text-align: center;
    margin-top: 30px;
}

.div-copy-right small {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}




/* responciv layout for mobail*/
@media screen and (max-width:576px) {

    .baner {
        flex-direction: column-reverse;

    }

    .no-downlod-cantainer,
    .gamer-section,
    .online-img,
    span,
    nav {
        flex-direction: column;
    }

    nav ol {
        display: grid;
        row-gap: 30px;
        padding: 2px 2px;

    }

    .no-downlod-cantainer,
    .gamer,
    header {
        padding: 0px;
    }

    .no-dowonlod-tittel p,
    .no-dowonlod-tittel h1,
    .gamer-titel,
    .sort-titel ,.clorerfull , .gamer-titel p{
        padding: 5px;
        text-align: center;
    }

    .baner-img img {
        width: 100%;
    }

    .hero-duthor {
        width: 200px;
        position: relative;
        bottom: 138px;
        left: -81px;
    }

    .img-gamer img {
        width: 100%;
    }

    .hero-pic img {
        width: 80%;
        margin-left: 96px;

    }

    .footer-section {
        padding: 30px;
    }

    .footer-dising ol,
    .footer-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 65px;
    }

    .sucurety ol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 35px;
    }
    .icon-catainer ,  .icon-catainer2{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
      }
      /* .icon-catainer2{
        margin-top: 20px;
      } */
}